@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #f2f7f9;
	font-family: "Poppins", sans-serif;
}

body {
	min-height: 100vh;
}


.fade-in-animation{
	animation-name: fadeIn;
	animation-duration: 300ms;
	transition-timing-function:ease;
	animation-fill-mode: forwards;
}

.fade-out-animation{	
	animation-name: fadeOut;
	animation-duration: 500ms;
	transition-timing-function:cubic-bezier(.075,.82,.165,1);
}
@keyframes fadeIn {
	0% {
	  opacity: 0;
	
	}
	100% {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color:  #00000073;
	  	opacity: 1;
	}
  }
  
  @keyframes fadeOut {
	0% {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 1;
		background-color:  #00000073;
	}
	100% {
	  opacity: 0;
	  
	}
  }
