@tailwind base;
@tailwind components;
@tailwind utilities;

/* always set this like this html and body element */

html,body {
	background-color: #f2f7f9;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	width: 100%;
}

#root {
	height: 100vh; 
	width: 100%;
}
/* min-height is not inherited by the child  so we have replace the min-height by the height property */


.fade-in-animation{
	animation-name: fadeIn;
	animation-duration: 300ms;
	transition-timing-function:ease;
	animation-fill-mode: forwards;
}

.fade-out-animation{	
	animation-name: fadeOut;
	animation-duration: 500ms;
	transition-timing-function:cubic-bezier(.075,.82,.165,1);
}
@keyframes fadeIn {
	0% {
	  opacity: 0;
	
	}
	100% {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color:  #00000073;
	  	opacity: 1;
	}
  }
  
  @keyframes fadeOut {
	0% {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 1;
		background-color:  rgba(235, 220, 13, 0.492);
	}
	100% {
	  opacity: 0;
	  
	}
  }
